@using LeaveManagementSystem.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Leave Management System</title>
    <link rel="shortcut icon" type="image/png" href="~/images/leave.png" />
    <link rel="stylesheet" href="~/css/styles.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LeaveManagementSystem.Web.styles.css" asp-append-version="true" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-simplebar>
                <div class="d-flex mb-4 align-items-center justify-content-between">
                    <a asp-controller="Home" asp-action="Index" class="text-nowrap logo-img ms-0 ms-md-1">
                        <img src="~/images/car.png" width="180" alt="">
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="mb-4 pb-2">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-5"></i>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link primary-hover-bg"
                               asp-controller="Home" asp-action="Index"
                               aria-expanded="false">
                                <span class="aside-icon p-2 bg-light-primary rounded-3">
                                    <i class="ti ti-home fs-7 text-primary"></i>
                                </span>
                                <span class="hide-menu ms-2 ps-1">Home</span>
                            </a>
                        </li>                       
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link primary-hover-bg"
                               asp-controller="Home" asp-action="Privacy"
                               aria-expanded="false">
                                <span class="aside-icon p-2 bg-light-primary rounded-3">
                                    <i class="ti ti-cookie-off fs-7 text-primary"></i>
                                </span>
                                <span class="hide-menu ms-2 ps-1">Privacy</span>
                            </a>
                        </li>
                         @if (User.IsInRole(Roles.Administrator))
                        {
                            <li class="nav-small-cap">
                                <i class="ti ti-dots nav-small-cap-icon fs-5"></i>
                                <span class="hide-menu">Management</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link sidebar-link warning-hover-bg"
                                asp-controller="LeaveTypes" asp-action="Index"
                                aria-expanded="false">
                                    <span class="aside-icon p-2 bg-light-warning rounded-3">
                                        <i class="ti ti-article fs-7 text-warning"></i>
                                    </span>
                                    <span class="hide-menu ms-2 ps-1">Leave Types</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link sidebar-link danger-hover-bg"
                                asp-controller="Periods" asp-action="Index"
                                aria-expanded="false">
                                    <span class="aside-icon p-2 bg-light-danger rounded-3">
                                        <i class="ti ti-alert-circle fs-7 text-danger"></i>
                                    </span>
                                    <span class="hide-menu ms-2 ps-1">Periods</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link sidebar-link success-hover-bg"
                                asp-controller="LeaveAllocation" asp-action="Index"
                                aria-expanded="false">
                                    <span class="aside-icon p-2 bg-light-success rounded-3">
                                        <i class="ti ti-cards fs-7 text-success"></i>
                                    </span>
                                    <span class="hide-menu ms-2 ps-1">View Employees</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link sidebar-link primary-hover-bg"
                                asp-controller="LeaveRequests" asp-action="ListRequests"
                                aria-expanded="false">
                                    <span class="aside-icon p-2 bg-light-primary rounded-3">
                                        <i class="ti ti-file-description fs-7 text-primary"></i>
                                    </span>
                                    <span class="hide-menu ms-2 ps-1">Manage Requests</span>
                                </a>
                            </li>
                        }
                         @if (User.Identity.IsAuthenticated)
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link sidebar-link indigo-hover-bg"
                                   asp-controller="LeaveAllocation" asp-action="Details"
                                   aria-expanded="false">
                                    <span class="aside-icon p-2 bg-light-indigo rounded-3">
                                        <i class="ti ti-typography fs-7 text-indigo"></i>
                                    </span>
                                    <span class="hide-menu ms-2 ps-1">Leave Allocation</span>
                                </a>
                            </li>
                          
                        }
                      @*   <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-5"></i>
                            <span class="hide-menu">Auth</span>
                        </li> *@
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link sidebar-link warning-hover-bg"
                                   asp-area="Identity" asp-page="/Account/Login"
                                aria-expanded="false">
                                    <span class="aside-icon p-2 bg-light-warning rounded-3">
                                        <i class="ti ti-login fs-7 text-warning"></i>
                                    </span>
                                    <span class="hide-menu ms-2 ps-1">Login</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link sidebar-link danger-hover-bg"
                                   asp-area="Identity" asp-page="/Account/Register"
                                aria-expanded="false">
                                    <span class="aside-icon p-2 bg-light-danger rounded-3">
                                        <i class="ti ti-user-plus fs-7 text-danger"></i>
                                    </span>
                                    <span class="hide-menu ms-2 ps-1">Register</span>
                                </a>
                            </li>
                        }                        
                    </ul>
                   
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    @if (SignInManager.IsSignedIn(User))
{
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <img src="~/images/user-112.svg" alt="" width="35" height="35" class="rounded-circle">
                                        Hello @User.Identity?.Name!
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                    <div class="message-body">
                                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">My Profile</p>
                                        </a>
                                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                <button type="submit" class="btn btn-outline-primary mx-3 mt-2 d-block shadow-none">Logout</button>
                                            </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
}
                </nav>
            </header>
            <!--  Header End -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sidebarmenu.js"></script>
    <script src="~/js/app.min.js"></script>
    <script src="~/lib/simplebar/dist/simplebar.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>