@{
    ViewData["Title"] = "Home Page";
}
<style>
    p {
        font-size: 1.6rem;
        text-align:left;
        padding-left:1rem;
        padding-top:.5rem;
    }    
    .stack-class {
        padding-left: 4.5rem;
        text-align: left;
        font-size: 1.2rem;
        list-style-type: disc;
    }
</style>

<div class="text-center">
    <h1 class="display-4" style="font-size: 5rem">Welcome</h1>
    <p>This leave management system was developed as a personal project to enhance my skills in C#, ASP.NET Core MVC, Entity Framework Core, and database design.</p>
        <br />
        <p>It demonstrates my ability to build a full-stack web application with user authentication, data management, and business logic.</p>
        <br/>
        <p style="text-align:left"> Stack used:</p>
        <ul class="stack-class">
            <li>C# / ASP.NET</li>
            <li>EF Core</li>
            <li>AutoMapper</li>
            <li>SQl Server</li>
        </ul>
</div>
